<h1>投稿一覧</h1>

<% @posts.each do |post| %>
<div>
  <%= image_tag post.user.get_profile_image(60,60) %><%= post.user.name %><br>
  <%= image_tag post.get_image(300,300) %>
  <p>タイトル</p>
  <%= link_to post.title, post_path(post.id) %>
  <p>説明</p>
  <%= post.body %>
</div>
<% end %>